<div class="container d-flex justify-content-center">
    <div  style="width: 300px; margin: 25%;margin-top: 15%; ">
        <form >
            <div class=" text-center mb-4">
                <img class="img-fluid rounded-circle blur-up lazyloaded" style="width: 30%; margin:2px"
                    src="assets/img/logo.png" alt="">
            </div>
            <!-- Email input -->
            <div class=" mt-2 mb-4">
                <label class="form-label" for=""><b>Email</b></label>
                <input [(ngModel)]="model.userName" type="email" class="form-control" name="userName" />
            </div>

            <!-- Password input -->
            <div class="mt-2 mb-4">
                <label class="form-label" for=""><b>Password</b></label>
                <input [(ngModel)]="model.password" type="password" class="form-control" name="password"/>
            </div>
            <!-- Submit button -->
            <div class=" mt-2 mb-4">
                <button type="button" class="btn btn-primary btn-block" (click)="login()">Sign in</button>
            </div>

        </form>
    </div>
</div>